.main {
    background-color:  rgb(245, 245, 245);
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.title{

    text-align: left;
    padding-top:20px;
    padding-bottom: 15px;
    font-weight: 250;
    text-shadow: 1.5px 1.5px 1.5px grey;

}

p1 {
    
    font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 2px;
       
}

.about{
    padding-bottom: 100px;
}

.team{
    padding-bottom: 20px;
}

.row{

    padding: 50px;
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
}

.circular-card{

    padding: 20px;
    width :250px;
    text-align: center;
  
    
   
}

/* decrease text size when frame decrease */
@media screen and (max-width: 500px) {
   
    .main{
        padding: 20px;
    }

    .title{
        padding: top 15px;
        padding-bottom: 10px;
        font-size: 2rem;
    }
   
   
    p1 {
        font-size: 1.2rem;
    }
}